# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Models and large files
*.pkl
*.h5
*.joblib
stitch.zip

# Caches
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
